[Desktop Entry]
Type=Application
Icon=harbour-kasa
Exec=sailjail -p harbour-kasa.desktop /usr/bin/harbour-kasa
Name=Kasa

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=Kasa
Permissions=Internet;Documents
ExecDBus=/usr/bin/harbour-kasa -prestart
