[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-kasa
Exec=harbour-kasa
Name=Kasa

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=kasa
Permissions=Internet;Documents
